<head>
  <title>login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Merchant login</h2>
  <form action="" action="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
      
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
     
    </div>
    <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
  </form>
</div>

</body>

<script>

function validate()
{
  var email=$("#email").val();
  var pwd=$("#pwd").val();
  

  $.ajax({
						type: 'POST',
            url: 'http://localhost:8085/api/users/login',
            //headers: {'token': "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6MTUxNTc1MTU0NiwiaWF0IjoxNTE1NzQ3OTQ2fQ.o8oLDGVfkxbaXwz95uzP35p7yBxlp2139kgwKp-Nh-Y"},
            data: {email:email,password:pwd},						
                        success: function(data) {

                          alert(JSON.stringify(data));
                          console.log(JSON.stringify(data));
                          $("#email").val("");
                          $("#pwd").val("");
                          window.localStorage.setItem('token', data.token);
                          console.log("local storage value=== "+window.localStorage.getItem('token'));
                        }
  });
  return false;
}

</script>
</html>

