<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Change Password</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="assets/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-4 col-sm-offset-4">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" >
		                	<form action="/updatepwd" method="POST">
		                
		                    	<div class="wizard-header1">
		                        	<h4  style="text-align:center;font-weight:600">Choose New Password</h4>
		                        	<p>&nbsp;</p>
		                    	</div>
		                    	<div class="row">	
		                                    <div class="col-sm-10 col-sm-offset-1">

		                                            
														<div class="row">
															<div class="col-sm-12">
																
																	<div class="form-group">
																			<input type="hidden" class="form-control" id="email"  name="email">
																	</div>

							                                    <div class="col-sm-12">
									                                <div class="row">
									                                    <div class="col-sm-12">
									                                    	<input type="password" class="form-control" placeholder="New Password" name="newpassword">
									                                    </div>
									                                </div>
									                                <br>
									                                <div class="row">
									                                    <div class="col-sm-12">
									                                    	<input type="password" class="form-control" placeholder="Confirm Passowrd" name="cpassword">
									                                    </div>
									                                </div>


									                                

									                                <div class="row">
									                                	<input type="submit" name="submit" class="submitlink" value="Chage Password">
									                                </div>


								                                </div>

							                                </div>      
							                            </div>

		                                    </div>
		                                </div>
		                     
		                	</form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    
	</div>
	<p style="display:none;" id="eid"><%=email %></p>

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>

	<script>
		$(document).ready(function(){	
			$("#email").val($("#eid").html());
			console.log("email:"+$("#eid").html());
			//$("#basketone").show();
			$("#baskettwo").show();

			//$("#planone").show();
			$("#plantwo").show();	

			//$("#paymentone").show();
			$("#paymenttwo").show();	
		});
	</script>	
</html>
