<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Sign In</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="assets/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-6 col-sm-offset-3">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" >
		                	<form id="form1" method="POST">
		                
		                    	<div class="wizard-header1">
		                        	<h4  style="text-align:center;font-weight:600">Sign in to your store</h4>
		                        	<p class="category">Please provide your user name</p>
		                        	<p>&nbsp;</p>
		                    	</div>
		                    	<div class="row">	
		                                    <div class="col-sm-10 col-sm-offset-1">

		                                            
														<div class="row">
															<div class="col-sm-12">
																
							                                    

							                                    <div class="col-sm-12">
									                                <div class="row">
									                                    <div class="col-sm-12">
									                                    	<p class="signininfo">Your Email</p>
									                                    	<input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
									                                    </div>
									                                </div>
									                                <br>
									                                <div class="row">
									                                    <div class="col-sm-12">
									                                    	<p class="signininfo">Your Password</p>
									                                    	<input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
									                                    </div>
									                                </div>
									                                <div class="row">
																		<input type="submit"  id="login"class="submitlink" value="Sign in to your account">
																		<div class="signinlink2" ><a href="/forgotpassword"><small>forgot password?<small></a></div>
																	</div>
																	<div class="row">
																			<div class="pull-right">
																			<div class="signinlink2" ><a href="/logout"><small>logout<small></a></div>
																			</div>
																		</div>
									                                
									                                 <hr style="height:1px;background:rgba(58, 98, 124, 0.32);">

									                                
									                                <div class="prenextlinks">
											                        		<div class="signinlink2"><a href="#">Don't have an accout?</a></div>
											                        		<div class="signuplink"><a href="/">Sign Up!</a></div>
											                        	</div>


								                                </div>

							                                </div>

							                                

							                                

							                            </div>

		                                    </div>
		                                </div>
		                     
		                	</form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    
	</div>

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>

	<script>
		$(document).ready(function(){			
			//$("#basketone").show();
			$("#baskettwo").show();

			//$("#planone").show();
			$("#plantwo").show();	

			//$("#paymentone").show();
			$("#paymenttwo").show();	
		});
	</script>
	<script>
			$(document).ready(function(){
				$("#login").click(function(e){
					e.preventDefault();
					var user= new Object();
					 var email=$('#email').val();
					 var password=$('#password').val();
					//console.log(user);
					//var obj = JSON.stringify(user);
					//console.log("suma"+    obj);
					$.ajax({
					  type:'POST',
					  url:'/login',
					  data:{email:email,password:password},
					  success:function(res){
						alert(res.storeName);
						//console.log("suma:"+data.email);
						if(res.status=="Successfully logged in!")
						{
							window.localStorage.setItem('token', res.token);
							window.localStorage.setItem('storeName', res.storeName);
							console.log("local storage value : "+window.localStorage.getItem('token'));
							//const url="http://admin."+data.storeName+".serverless9.com/store_setup";
							//console.log("url" + url);
							window.location="/store_setup";
						}
					  },
					  error:function(jqXHR, textStatus, errorThrown){
					  alert('error: ' + textStatus + ': ' + errorThrown);
					  console.log(errorThrown);
					  }
					});
				});
			  });
			
			</script>	
</html>
