<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Store_Setup_Plan</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
		                	<form id="plan_form" method="POST">
		                
		                    	<div class="wizard-header">
		                        	<h4 class="wizard-title" style="text-align:center;font-weight:600" id="bottomspace">Welcome to Cadenza 	Setup</h4>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
			                            <li>
			                            	<div class="productone">
			                            		<div class="producticon">
				                            		<img src="assets/img/store_setup/barcode-product-wt.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#" onclick="location.href='#';" data-toggle="tab" id="productlink">
												<div class="icon-circle">
													<!-- <i class="ti-map"></i> -->
												</div>
												Product
											</a>
										</li>
			                            <li>
			                            	<div id="basketone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/picnic.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="baskettwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/picnic-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>

											<a href="#basket" onclick="location.href='/basket';" data-toggle="tab" id="basketlink">
												<div class="icon-circle">
													<!-- <i class="ti-direction-alt"></i> -->
												</div>
												Basket
											</a>
										</li>
			                            <li class="active">
			                            	<div id="planone">
			                            		<div class="planicon">
				                            		<img src="assets/img/store_setup/strategy.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="plantwo">
			                            		<div class="plantwoicon">
				                            		<img src="assets/img/store_setup/strategy-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#plan" onclick="location.href='/plan';" data-toggle="tab" id="planlink">
												<div class="icon-circle">
													<!-- <i class="ti-panel"></i> -->
												</div>
												Plan
											</a>
										</li>
			                            <li>
			                            	<div id="paymentone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/credit-card.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="paymenttwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/credit-card-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#payment" onclick="location.href='/payment';" data-toggle="tab" id="paymentlink">
												<div class="icon-circle">
													<!-- <i class="ti-comments"></i> -->
												</div>
												Payment
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">		                           

		                            <!-- PLAN STARTED HERE -->
		                            <div class="tab-pane active" id="plan">
		                            	<div class="row">
		                                	<div class="col-sm-12">
		                                    	<div class="wizard-header">
						                        	<h4 class="wizard-title" style="text-align:center;">Setup default plan for your Store</h4>
						                        	<p class="category">These details are visible to your consumers</p>
						                    	</div>
		                            		</div>
											<div class="col-sm-12">
												
												<div class="col-sm-2">
													<div class="choice" data-toggle="wizard-checkbox">
														<h6 class="info-text">PLAN</h6>
														<div class="form-group">
									                    	<input type="text" class="form-control" id="plan1" placeholder="Silver" readonly>
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="plan2" placeholder="Gold" readonly>
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="text" class="form-control" id="plan3" placeholder="Platinum" readonly>
									                	</div>
													</div>
												</div>

												<div class="col-sm-4">
													<h6 class="info-text" style="padding-top: 24px;padding-bottom: 8px;">Discount</h6>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="row">
															<div class="col-sm-12">
																<div class="col-sm-7">
							                                    	<input type="text" class="form-control" id="Dis1" placeholder="value" style="text-align:center;">
							                                    </div>
																<div class="col-sm-5">
							                                        <div class="form-group">
							                                            <label style="top: 10px;position: relative;">Percent</label>
							                                        </div>
							                                    </div>
							                                </div>
						                                </div>
						                            </div>
						                            <div class="choice" data-toggle="wizard-checkbox">
						                                <div class="row">
															<div class="col-sm-12">
																<div class="col-sm-7">
																	<input type="text" class="form-control" id="Dis2" placeholder="value" style="text-align:center;">
							                                    </div>
																<div class="col-sm-5">
							                                        <div class="form-group">
							                                            <label style="top: 10px;position: relative;">Percent</label>
							                                        </div>
							                                    </div>
							                                </div>
						                                </div>
						                            </div>
						                            <div class="choice" data-toggle="wizard-checkbox">
						                                <div class="row">
															<div class="col-sm-12">
																<div class="col-sm-7">
							                                    	<input type="text" class="form-control" id="Dis3" placeholder="value" style="text-align:center;">
							                                    </div>
																<div class="col-sm-5">
							                                        <div class="form-group">
							                                            <label style="top: 10px;position: relative;">Percent</label>
							                                        </div>
							                                    </div>
							                                </div>
						                                </div>
						                            </div>
												</div>

												<div class="col-sm-3">
													<div class="choice" data-toggle="wizard-checkbox">
														<h6 class="info-text">Min-Re-Orders</h6>
														<div class="form-group">
									                    	<input type="time" class="form-control" id="reOrder1" placeholder="Time">
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="time" class="form-control" id="reOrder2" placeholder="Time">
									                	</div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
									                    	<input type="time" class="form-control" id="reOrder3" placeholder="Time">
									                	</div>
													</div>
												</div>

												<div class="col-sm-3">
													<h6 class="info-text" style="padding-top: 24px; padding-bottom: 8px">Type</h6>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="row">
															<div class="col-sm-12">
																<div class="col-sm-1">
							                                        <div class="form-group">
							                                            <input type="checkbox" name="subscription" id="up1" value="check" style="left:0px">
							                                        </div>
							                                    </div>
							                                    <div class="col-sm-11" style="max-width:79%; text-align:left;">
							                                    	<label style="text-align:left;">Upfront Plan</label>
							                                    </div>
							                                </div>
							                            </div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="row">
															<div class="col-sm-12">
																<div class="col-sm-1">
							                                        <div class="form-group">
							                                            <input type="checkbox" name="subscription" id="up2" value="check" style="left:0px">
							                                        </div>
							                                    </div>
							                                    <div class="col-sm-11" style="max-width:79%; text-align:left;">
							                                    	<label style="text-align:left;">Upfront Plan</label>
							                                    </div>
							                                </div>
							                            </div>
													</div>
													<div class="choice" data-toggle="wizard-checkbox">
														<div class="row">
															<div class="col-sm-12">
																<div class="col-sm-1">
							                                        <div class="form-group">
							                                            <input type="checkbox" name="subscription" id="up3" value="check" style="left:0px">
							                                        </div>
							                                    </div>
							                                    <div class="col-sm-11" style="max-width:79%; text-align:left;">
							                                    	<label style="text-align:left;">Upfront Plan</label>
							                                    </div>
							                                </div>
							                            </div>
													</div>

												</div>

											</div>		                                	
		                            	</div>
		                            </div>
		                            <!-- PLAN END HERE -->

		                        </div>

		                        <div class="wizard-footer">
		                        	<div class="prenextlinks">
		                        		<div class="previouslink"><a href="/basket">Back</a></div>
										<!-- <div class="nextlink"><a href="/payment">Next</a></div> -->
										<!-- <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
										 -->
										 <div class="pull-right">
											<input type='submit' id="post_plan" class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
										</div>
		                        	</div>
								</div>
							
								<div class="wizard-footer" style="display:none;">
	                            	<div class="pull-right">
	                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
	                                    <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
									</div>

	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Back' />
	                                </div>
	                                <div class="clearfix"></div>
		                        </div>
		                	
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	</form>
	</div>
	<p style="display:none;" id="sid"><%=SKU%></p>
</body>

	<!--   Core JS Files   -->
	<script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>

	<script>
		$(document).ready(function(){			
			//$("#basketone").show();
			$("#baskettwo").show();

			//$("#planone").show();
			$("#plantwo").show();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();	
		});
	</script>
	<script>
	$(document).ready(function(){
        $("#post_plan").click(function(e){
            e.preventDefault();
			var token=window.localStorage.getItem('token');
			//var token=$('#tid').html();
			console.log("token"+ token);
			var plan= {};
            var plan1= {};
			var plan2= {};
			var plan3= {};
            plan.token=token;
			var sdis=$('#Dis1').val();
			var gdis=$('#Dis2').val();
			var pdis=$('#Dis3').val();
			var reOrder1=$('#reOrder1').val();
			var reOrder2=$('#reOrder2').val();
			var reOrder3=$('#reOrder3').val();
			var up1=$('#up1').val();
			var up2=$('#up2').val();
			var up3=$('#up3').val();
			plan1.collectionType='plan';
			plan1.collectionId=Math.floor((Math.random() * 100) + 1);
			plan1.basketSKU=$('#sid').html();
			plan1.title='silver';
			plan2.collectionType='plan';
			plan2.collectionId=Math.floor((Math.random() * 100) + 1);
			plan2.basketSKU=$('#sid').html();
			plan2.title='gold';
			plan3.collectionType='plan';
			plan3.collectionId=Math.floor((Math.random() * 100) + 1);
			plan3.basketSKU=$('#sid').html();
			plan3.title='platinum';	
			if(sdis!="")
			{
				plan1.discount=sdis;
			}
			else{
				plan1.discount='0';
			}
			if(gdis!="")
			{
				plan2.discount=gdis;
			}
			else{
				plan2.discount='0';
			}
			if(pdis!="")
			{
				plan3.discount=pdis;
			}
			else{
				plan3.discount='0';
			}
			if(reOrder1!="")
			{
				plan1.reOrder=reOrder1;
			}
			else{
				plan1.reOrder='0';
			}
			if(reOrder2!="")
			{
				plan2.reOrder=reOrder2;
			}
			else{
				plan2.reOrder='0';
			}
			if(reOrder3!="")
			{
				plan3.reOrder=reOrder3;
			}
			else{
				plan3.reOrder='0';
			}
			if(up1=="check")
			{
				plan1.upfrontPlan='yes';
			}
			else{
				plan1.upfrontPlan='no';
			}
			if(up2=="check")
			{
				plan2.upfrontPlan='yes';
			}
			else{
				plan2.upfrontPlan='no';
			}
			if(up3=="check")
			{
				plan3.upfrontPlan='yes';
			}
			else{
				plan3.upfrontPlan='no';
			}
			plan.token=token;
			plan.p1=plan1;
			plan.p2=plan2;
			plan.p3=plan3;
			console.log(plan);
            $.ajax({
              type:'POST',
              url:'http://ec2-13-127-109-51.ap-south-1.compute.amazonaws.com:8083/api/plans/addplan',
				//url:'http://localhost:8083/api/plans/addplan',
              data:plan,
              dataType:'json',
              success:function(data){
                if(data.status=="success")
                {
                    //const url="http://admin."+data.storeName+".serverless9.com/store_setup";
                    //console.log("url" + url);
                    window.location="/payment";
                }
              },
              error:function(jqXHR, textStatus, errorThrown){
              		alert('error: ' + textStatus + ': ' + errorThrown);
              console.log(errorThrown);
              }
            });
        });
      });
	
	
	</script>
</html>
